{% capture html %}
<ul class="navigation" id="navigation">
	{% assign entries = site.pages | sort: "navigation" %}
	{% for entry in entries %}
		{% if entry.navigation %}
			<li>
				<a class="{% if page.url == entry.url entry.url %}active{% endif %}" href="{{ entry.url | relative_url }}">
					{{ entry.icon }} {{ entry.sidebar }}
				</a>
			</li>
		{% endif %}
	{% endfor %}
	<hr>
	<li><a href="https://canvas.iastate.edu/courses/80773"><i class='fa fa-cog'></i> Canvas</a></li>
	<li><a href="https://github.com/ISU-MolPhyl/EEOB563-Spring2021"><i class='fa fa-github'></i> GitHub</a></li>
	<li><a href="https://eeob563.slack.com/"><i class='fa fa-slack'></i> Slack</a></li>
</ul>
{% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' }}
